/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 27, 2020, 2:04:25 PM
    Author     : yokko
*/
body{
    margin: 0;
    padding: 0;
    height: auto;
    font-family: sans-serif;
    width: 100%;
}
.img-area{
    background-image: url(image/background.png);
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    height: 100vh;
    position: fixed;
    left: 0;
    right: 0;
    z-index: -1;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    box-shadow: black;
}
.logo{
    padding: 10px;
}
.box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 400px;
    padding: 40px;
    background: rgba(0, 0, 0, .8);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.5);
    border-radius: 10px;
}
.box h2{
    margin: 0 0 30px;
    padding: 0;
    color: #ffff;
    text-align: center;
}
.box .inputBox{
    position: relative;
}
.box .inputBox input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    letter-spacing: 1px;
    color: #ffff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid;
    outline: none;
    background: transparent;
}

.box .inputBox label{
    position: absolute;
    top: 0;
    left: 0;
    letter-spacing: 1px;
    padding: 10px 0;
    font-size: 16px;
    color: #ffff;
    pointer-events: none;
    transition: 0.5s;
    
}

.box .inputBox input:focus ~ label,
.box .inputBox input:valid ~ label{
    top: -18px;
    left: 0;
    color: tomato;
    font-size: 12px;
}

.box input[type="submit"]{
    background: transparent;
    border: none;
    outline: none;
    color: #ffff;
    background: tomato;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

.box p{
    top: 0;
    left: 0;
    letter-spacing: 1px;
    padding: 10px 0;
    font-size: 16px;
    color: #ffff;
    transition: 0.5s;
}
.box p a{
    color: tomato;
}

